body {
  font-family: "Chakra Petch", sans-serif;
}

/* .btn */
/* { */
    /* background-color: #888888 !important; */
/* } */


header {
    background-color: #e4000f;
    color: white;
    position: sticky;
}

h2 {
    color: #e4000f;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

.card {
    margin: 10px 10px 10px 10px;
}

#amiibo-figure {
    height: 80%;
    width: 80%;
}
  @media only screen and (min-width: 601px) 
{
    .container 
    {
      width: 85%;
    }
}
  @media only screen and (min-width: 993px) 
{
    .container 
    {
      width: 70%;
    }
}
